spring:
  config:
    import: optional:file:${user.dir}/orchestrator-service/.env[.properties]
  application:
    name: orchestrator-service
  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: ${DDL_AUTO}
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    generate-ddl: true


server:
  port: ${ORCHESTRATOR_SERVER_PORT}

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_SERVICE_URL}

custom:
  jwt:
    secrets:
      appkey: ${SECRET_APP_KEY}